@import 'variables.less';
/*************
BASE STYLES
**************/

body, html {
  font-family: @font-primary;
  font-weight: 300;
  color: black;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: @font-secondary;
}

h1 {
  color: @brand-blend-darkest;
  //font-weight: normal;
  font-size: 48px;
  font-size: 3.52vw;
}

h2 {
  font-size: 24px;
  font-size: 1.75vw;
}

p {
  font-size: 16px;
  font-size: 1.17vw;
  line-height: 1.5em;
  margin-bottom: 1em;
  &.small {
    font-size: 48px;
    font-size: 1vw;
  }
}

a {
  text-decoration: none;
  color: @brand-blend;
  transition-duration: .3s;
}

a:hover {
  color: @brand-blend-dark;
}

.btn {
  font-family: @font-secondary;
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 12px 16px;
  padding: .88vw 1.17vw;
}

.btn-primary {
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: @brand-blend-darkest;
  font-size: 14px;
  font-size: 1.03vw;
  border: 1px solid @brand-blend;
  position: relative;
  overflow: hidden;
  z-index: 300;
  &:hover {
    color: @almost-white;
    border: 1px solid @brand-blend;
    transition-duration: .2s;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 102%;
    background: linear-gradient(to right, @brand-green-blue, @brand-blue-green);
    left: -100%;
    top: 0;
    z-index: -1;
    transition: .15s ease-in;
  }
  &:hover:before {
    left: 0;
    transition: .15s ease-in;
  }
}

.btn-white-text {
  color: white;
}


@keyframes animatein {
  0%  {left: -200%;}
  100% {left: 0;}
}
@keyframes btncolor {
  0%  {color: @brand-blend-dark;}
  100% {color: white;}
}

@btn-transition-duration: .15s;
.btn-animate-in { 
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: @brand-blend-darkest;
  font-size: 14px;
  font-size: 1.03vw;
  border: 1px solid @brand-blend;
  outline: @brand-blend;
  position: relative;
  overflow: hidden;
  z-index: 300;
  &.enabled {
    color: white;
    animation-name: btncolor;
    animation-duration: @btn-transition-duration;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 200%;
      height: 100%;
      background: linear-gradient(45deg, @brand-green-blue, @brand-blue-green, @brand-green-blue);
      left: 0;
      top: 0;
      z-index: -1;
      animation-name: animatein;
      animation-duration: @btn-transition-duration;
      animation-timing-function: ease-in;
      //for hover transition (works fine in Chrome - should test)
      transition-duration: @btn-transition-duration;
    }
    &:hover:before {
      transform: translateX(-40%);
    }
    &:focus {
      outline: @brand-blend;
    }
  }
  &.disabled {
    border: 1px solid gray;
    cursor: default;
    color: gray;
    opacity: .3;
    background-color: transparent;
  }
}
.smallscreen {
  position: absolute;
  display: none;
}

@media screen and (max-width: 999px) {
  .smallscreen {
    color: white;
    background: black;
    background: linear-gradient(90deg, @brand-blue-green, @brand-green-blue);
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1000;
    p {
      box-sizing: border-box;
      padding: 15% 20%;
      //margin: 30% auto 0 auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0,0,0,.33);
      width: 100%;
      font-size: 16px;
      //font-weight: bold;
      //letter-spacing: .09em;
    }
    #left-indicator, #right-indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      width: 7.5vw;
      height: 7.5vw;
      max-height: 50px;
      max-width: 50px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1001;
    }
    #left-indicator {
      left: 0%;
      animation-name: wiggle-left-side;
      animation-duration: .8s;
      animation-iteration-count: infinite;
    }
    #right-indicator {
      right: 0%;
      animation-name: wiggle-right-side;
      animation-duration: .8s;
      animation-iteration-count: infinite;
    }
  }
  @keyframes wiggle-left-side {
    0% {
      left: 1%;
    }
    100% {
      left: 0%;
    }

  }
  @keyframes wiggle-right-side {
    0% {
      right: 1%;
    }
    100% {
      right: 0%;
    }
  }
}