@import 'variables.less';

.contact {
  .paper {
    border: 1px solid @brand-blend-dark;
    //border-top: 1px solid black;
    //border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 6% @innerOffset / @numcolumns * 100%;
    //padding-top: 6%;
    height: 100%;
  }
  h2 {
    color: #303030;
    font-family: @font-tertiary;
    margin-bottom: 2em;
    font-size: 32px;
    text-align: right;
  }
}

fieldset {
  border: none;
}

textarea, input {
  border: 1px solid @brand-blend-dark;
  padding: 12px;
  margin: 12px 0;
}

textarea {
  font-family: @font-primary;
  vertical-align: middle;
}

textarea:focus, input:focus {
  border: 1px solid @brand-blend;
  outline: 1px solid lighten(@brand-blend, 10%);
}

input#name, input#email, textarea#message {
 width: 65%;
}

.social-links a {
  display: block;
  float: right;
  clear: both;
  margin-bottom: 16px;
  position: relative;
  transition-duration: .3s;
}

.social-links a.hover:after {
  margin-left: 12px;
  transform: scale(1.2);
  transform-origin: center;
}

.social-links a:after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
  background-size: 30px 30px;
  transition-duration: .3s;
}
#email-icon:after {
  background-image: url('../img/email-icon.png');
}
#github-icon:after {
  background-image: url('../img/github-icon.png');
}
#linkedin-icon:after {
  background-image: url('../img/linkedin-icon.png');
}
 span.input-validate {
   display: inline-block;
   width: 10%;
   height: 20px;
   .pass, .fail {
     display: block;
     width: 21px;
     margin-left: 12px;
     height: 18px;
     background-image: url('../img/check-mark.png');
     background-size: cover;
     background-repeat: no-repeat;
     transition-duration: .3s;
   }
   .fail {
     background-image: url('../img/red-x.png');
   }
 }

@keyframes buttonin {
  0% {background-color: blue;}
  50% {background-color: red;}
  75% {background-color: black;}
  100% {background-color: pink;}
}

#submit-message {
  margin-top: 16px;
  // &.enabled {
  //   animation-name: buttonin;
  //   animation-duration: 10s;
  //   animation-iteration-count: 3;
  //   background-color: pink;
  // }
}

// 	.social-icon-group {
// 		text-align: center;
// 	}

// 	a.social-icon {
// 		border-radius: 50%;
// 		display: inline-block;
// 		width: 30px;
// 		height: 30px;
// 		background-size: 120px 30px;
// 		margin-left: 12px;
// 		transition-duration: .3s;
// 		&:hover {
// 			box-shadow: 0px 0px 15px rgba(255, 255, 255, .2);
// 		}
// 		&#twitter {
// 			background-image: url('../img/social-media-icons.png');
// 			background-position: left;
// 		}
// 		&#linkedin {
// 			background-image: url('../img/social-media-icons.png');
// 			background-position: -30px;
// 		}
// 		&#googleplus {
// 			background-image: url('../img/social-media-icons.png');
// 			background-position: -60px;
// 		}
// 		&#github {
// 			background-image: url('../img/social-media-icons.png');
// 			background-position: -90px;
// 		}
// 	}

// .contact {
// 	img#portfolio-pic {
// 		display: block;
// 		margin: 0 auto 1em auto;
// 		max-width: 300px;
// 	}
// 	p {
// 		text-align: center;
// 	}
// 	span.available {
// 		color: @brand-primary-blend;
// 	}
// 	span.not-available {
// 		color: @brand-secondary;
// 	}

// 	input[type="submit"].disabled {
// 		background-color: grey;
// 	}

// 	input#name, input#email, textarea#message {
// 		width: 90%;
// 	}

// 	span.input-validate {
// 		display: inline-block;
// 		// background-color: red;
// 		width: 10%;
// 		height: 20px;
// 		.pass, .fail {
// 			display: block;
// 			width: 21px;
// 			margin-left: 10px;
// 			height: 18px;
// 			background-image: url('../img/check-mark.png');
// 			background-size: cover;
// 			background-repeat: no-repeat;
// 		}
// 		.fail {
// 			background-image: url('../img/red-x.png');
// 		}
// 	}

// 	@media screen and (min-width: @breakpoint1) and (max-width: @breakpoint2) {
// 		header {
// 			margin-bottom: 31px;
// 		}
// 		.col-spacer {
// 			display: none;
// 		}
// 		/*helper class to expand columns between breakpoints - applies to contact page only*/
// 		.col3.expand {
// 			width: 31%;
// 		}
// 		.col5.expand {
// 			width: 65%;
// 		}
// 	}
// }

// #email-img {
// 	margin: 16px auto -16px auto;
// 	width: 190px;
// }

// .form-spacer {
// 	margin-bottom: 30px;
// 	padding: 0;
// }

// textarea, input, fieldset, form {
// 	box-sizing: border-box;
// 	padding: 10px;
// }

// form {
// 	padding: 0;
// 	display: block;
// }

// label {
// 	display: block;
// 	padding-bottom: 12px;
// }

// textarea {
// 	height: 300px;
// }

// fieldset {
// 	display: block;
// 	border: none;
// 	padding: 0;
// }


// /***********************
// Contact confirmation page
// ************************/
// .contact-thanks {
// 	img {
// 		display: block;
// 		margin: 60px auto 12px auto;
// 		&.resume-contact {
// 			display: none;
// 		}
// 	}
// 	p {
// 		display: block;
// 		text-align: center;
// 	}
// 	p span {
// 		font-size: 24px;
// 	}
// 	.btn-container {
// 		text-align: center;
// 	}
// }

// @media all and (min-width: @breakpoint1) {
// 	label {
// 		text-align: right;
// 		position: relative;
// 		top: 8px;
// 		left: -10px;
// 	}
// 	input[type="submit"] {
// 	margin-left: 26%;
//   }
// }