@import 'variables.less';
/****************
RESUME  STYLES
*****************/

.resume {
  .paper {
    // border-top: 1px solid rgba(255,255,255,.3);
    //border-bottom: 1px solid rgba(255,255,255,.3);
    color: white;
    padding: 6% @innerOffset / @numcolumns * 100%;
    opacity: 0;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.85, 0, 0.17, 0.85);
    position: relative;
    top: 0px;
    &.active {
      opacity: 1;
    }
  }
  h2 {
    font-family: @font-tertiary;
    margin-bottom: 1em;
    font-size: 32px;
    font-size: 2.34vw;
  }
  p {
    position: relative;
    top: 12px;
    top: .88vw;
    margin-bottom: 2em;
  }
  span {
    &.job-title {
      padding: 2px 8px;
      padding: .15vw .58vw;
      color: @almost-white;
      background-color: @brand-blend-dark;
    }
    &.job-duration {
      color: @brand-blend;
    }
  }
  .statement, .experience, .skills, .education {
    h2 {
      // line-height: 1em;
    }
    margin-bottom: 2em;
  }
}
