//Greys
@almost-white:          #F4F4F4; 
@gray1:                 #EEE;
@gray2:                 #DDD;
@gray3:                 #CCC;
@gray4:                 #BBB;
@gray5:                 #AAA;
@gray6:                 #999;
@gray7:                 #888;
@gray8:                 #777;
@gray9:                 #666;
@gray10:                #555;
@gray11:                #444;
@gray12:                #333;
@gray13:                #222;
@gray14:                #111;
//Brand Colors
@brand-green-blue:      saturate(#52BB9C, 15%);
@brand-blue-green:      saturate(#4AA7B1, 15%);
@brand-blend:           #00B2A3;
@brand-blend-dark:      darken(@brand-blend, 10%);
@brand-blend-darkest:   darken(@brand-blend, 20%);

//Typefaces
@font-primary:					'Lato', Arial, sans-serif;
@font-secondary:				'Montserrat', 'Gill Sans', Arial, sans-serif;
@font-tertiary:         'Playfair Display', Arial, sans-serif;
//Grid stuff
@numcolumns: 24;
@numcolumnsInside: @numcolumns - 2;
@innerOffset: 1.5;
@upperOffset: 16%; //useful for when using position:absolute on something within the paper class (matches the 6% padding);
@upperImageOffset: 18%;

 